<nav>
    <div class="sitetitle">
        <a href="/">Checklist</a>
    </div>
    
    <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
    </ul>
</nav>